.row {
	background: #ededed;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
}

.cell {
	width: 240px;
	padding: 5px;
	font-weight: 500;
	font-size: 16px;
	color: #3791ec;
	outline: 1px solid rgb(74, 74, 74);
	box-shadow: 0px 3px 5px #3dbdf669;
}
